<app-headerPrincipale></app-headerPrincipale>
<div class="header">
    <div class="container text-center">
        <h2>Café des Alliés : Le Webinaire</h2>
        <p>Une initiative de FIDALLI BURKINA</p>
    </div>
</div>



<div class="webinar-card">
    <div class="event-info">
        <h3>Webinaire N°17</h3>
        <h4>Thème : L'intelligence artificielle au service du comptable</h4>
        <p><strong>Samedi 23 Novembre 2024 à partir de 10h00</strong></p>
    </div>
  
    <div class="container">
        <div class="presenter">
            <div class="row">
                <div class="col-md-6">
                    <img src="https://via.placeholder.com/150" alt="Formateur Anthony Nebie">
                    <div class="presenter-name">Formateur Anthony Nebie</div>
                    <div class="presenter-role">Web Entrepreneur</div>
                </div>
                <div class="col-md-6">
                    <img src="https://via.placeholder.com/150" alt="Modératrice Massogolo Latifah Sanogo">
                    <div class="presenter-name">Modératrice Massogolo Latifah Sanogo</div>
                    <div class="presenter-role">Auditrice Comptable et Financière</div>
                </div>
            </div>
        </div>

        <div class="button-container">
            <a href="https://www.youtube.com/channel/UCfiddali" target="_blank">Revoir les enregistrements sur YouTube</a>
        </div>

        <div class="logos text-center">
            <img src="https://via.placeholder.com/150" alt="Logo FIDALLI">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Google_Meet_logo_2020.svg/1024px-Google_Meet_logo_2020.svg.png" alt="Google Meet">
        </div>

        <div class="contacts text-center mt-3">
            <p>
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/Email_icon_%28FontAwesome%29.svg" alt="Email">
                <a href="mailto:infos@fidalli-ec.com">infos@fidalli-ec.com</a>
            </p>
            <p>
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d8/WhatsApp_icon_2013.svg" alt="WhatsApp">
                <a href="https://wa.me/22672776969">+226 72 77 69 69</a>
            </p>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="https://via.placeholder.com/150" alt="Alliance Logo">
                </div>
                <div class="col-6">
                    <img src="https://via.placeholder.com/150" alt="Futurallies Logo">
                </div>
            </div>
        </div>
    </div>

  <!-- Lien vers les détails du webinaire avec l'ID -->
  <a [routerLink]="['/webinar-details', webinar._id]" class="details-link">Voir Détails</a>
</div>










