<body>

    <nav class="navbar-light navbar-fixed-top bg-light  py-4">

        <ul class="nav">
            <li class="nav-item">
                <img src="assets/icon.png" alt="FuturAlliés Logo" routerLink='/acceuil' class="logo" height="50">
             </li>
          <li class="nav-item">
            <a routerLink='/formation/acceuilFormation' class="nav-link" >Domaine</a>
          </li>
          <li class="nav-item">
            <a routerLink='formation/FormationPresentielle' class="nav-link" >Formation en presentiel</a>
          </li>
      
      
          <li class="nav-item">
            <a routerLink='/formation/certification' class="nav-link" >Certifications</a>
          </li>
      
      
          <li class="nav-item">
            <a href="#trainers" class="nav-link" >A propos de nos centres</a>
          </li>
       
      
          <li class="nav-item">
            <a href="#trainers" class="nav-link" >Equipes</a>
          </li>
      
          <li class="nav-item" style="padding-left: 30px;">
            <a routerLink="/usersPages/login" class="btn btn-warning" >Se connecter</a>
          </li>
        </ul>
      </nav>
      
      
      
      <section class="banner bg-secondary text-white text-center py-5" style="position: relative; overflow: hidden;color:secondary;">
        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; no-repeat: center; background-size: cover; filter: brightness(1.2);"></div>
        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 255, 0.3); mix-blend-mode: overlay;"></div>
        <div class="container" style="position: relative; z-index: 1;">
        <br/><br/>
        </div>
      </section>
      

  <div class='con'> 
    <div class='container-l'>  
      <button class='btn-custom taille'  style="padding: 20px;">
        <div class="row">
            <h1><b>2ème cohort de Future des Alliés</b></h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Insertion 1er Tableau -->
                <table class="table" class="table-header">
                    <tr class="table-row">
                        <td class='table-column1'>Type : </td>
                        <td class='table-column'>Formation Proffessionnelle</td>
                    </tr>
                    <tr class="table-row">
                        <td class='table-column1'>Domaines éligibles: </td>
                        <td  class='table-column'>Finance comptabilité, Gestion, Banque & Assurance, RH, Informatique</td>
                    </tr>
                    <tr class="table-row">
                        <td class='table-column1'>Nivau réquis : </td>
                        <td class='table-column'>BAC + 3</td>
                    </tr>
                    <tr class="table-row">
                        <td class='table-column1'>Prix :</td>
                        <td class='table-column'>500 euros </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6" style='padding-left:200px'>
                <!-- Insertion 2e Tableau -->
                <table class="table" class="table-header">
                    <tr class="table-row">
                        <td class='table-column2'>Durée : </td>
                        <td class='table-column2'>1 mois</td>
                    </tr>
                    <tr class="table-row">
                        <td class='table-column2'>Nombre de places : </td>
                        <td class='table-column2'>20</td>
                    </tr>
                    <tr class="table-row" >
                        <td class='table-column2'>Localisation :</td>
                        <td class='table-column2'>Fidalli, Ouagadougou</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row" *ngIf="shutDetail">
            <p><b>Resumé de la formation: </b>les prérequis de la gestion des entreprises, la base de la finance comptabilité, ...</p>
        </div>

       
            <!-- Nouveau conteneur pour les détails supplémentaires -->
        <div style="margin: 20px;" *ngIf="showDetail">
            <div class="row">
            <h2>Détails supplémentaires</h2>
            </div>
    
            <!-- Objectifs de la formation -->
            <div class="row">
            <div class="col-md-12">
                <h4>Objectifs de la formation :</h4>
                <ul>
                    <li>Renforcer les compétences en gestion d'entreprise</li>
                    <li>Développer une expertise technique en finance et comptabilité</li>
                    <li>Améliorer les compétences en informatique et en gestion de projet</li>
                    <li>Préparer les participants pour des stages en entreprise</li>
                </ul>
            </div>
            </div>
    
            <!-- Modalités d'inscription -->
            <div class="row">
            <div class="col-md-12">
                <h4>Modalités d'inscription :</h4>
                <p>Date limite d'inscription : <b>15 octobre 2024</b></p>
                <p>Documents requis : CV, lettre de motivation, diplôme (minimum Bac+2)</p>
                <p>Envoyer votre dossier via la plateforme ou par email à <b>inscriptionsaformation.com</b></p>
            </div>
            </div>
    
            <!-- Certificat délivré -->
            <div class="row">
            <div class="col-md-12">
                <h4>Certificat délivré :</h4>
                <p>À la fin de la formation, les participants recevront un <b>certificat de formation professionnelle</b> reconnu par l'État.</p>
            </div>
            </div>
    
            <!-- Entreprises partenaires -->
            <div class="row">
            <div class="col-md-12">
                <h4>Entreprises partenaires :</h4>
                <p>Plusieurs entreprises partenaires dans les secteurs de la finance, de la gestion, et de l'informatique offriront des opportunités de stages aux meilleurs participants.</p>
            </div>
            </div>
    
            <!-- Dates et horaires -->
            <div class="row">
            <div class="col-md-12">
                <h4>Dates et horaires :</h4>
                <p>Début de la formation : <b>1er novembre 2024</b></p>
                <p>Horaires : Du lundi au vendredi, de 9h à 17h</p>
            </div>
            </div>
        </div>
        
        <div class="row">
            <p>
                <i class="bi bi-star-fill" style="color: rgb(99, 104, 3);"></i>
                <i class="bi bi-star-half" style="color: rgb(99, 104, 3);"></i>
                <i class="bi bi-star" style="color: rgb(99, 104, 3);"></i>
            </p>
        </div>
        <div class="row" *ngIf="shutDetail">
            <div class="text-end" >
                <button class="btn btn-outline-secondary" style="color: red;" (click)="onShutDetail()">Voir les details</button>  
            </div>
        </div>

        <div class="text-end d-flex " *ngIf="showDetail">
            <div class="mx-2">
                <button class="btn btn-outline-danger" (click)="onShowDetail()">Réduire</button>
            </div>
            <div class="" >
                <button class="btn btn-outline-secondary" style="color: red;" (click)="onShowDetail()" routerLink="/formation/etudiantPage">S'inscrire</button>  
            </div>
        </div>

        
        <br/>
      </button>
    </div>
   
  </div>

  <app-footer/>

</body>
  
  
