
    
           
    
    
    
<body>
    
    <nav class="navbar-light navbar-fixed-top bg-light  py-4">
    
        <ul class="nav nav-underline">
            <li class="nav-item">
                <img src="assets/icon.png" alt="FuturAlliés Logo" routerLink='/acceuil' class="logo" height="50">
            </li>
            <li class="nav-item">
                <a routerLink='/formation/acceuilFormation' class="nav-link Activate" >Auditions Libres</a>
            </li>
            <li class="nav-item">
                <a routerLink='/FormationWebinaire' class="nav-link" >Programmes talents</a>
            </li>
            <li class="nav-item">
            <li class="nav-item">
                <a routerLink='/FormationWebinaire' class="nav-link" >Webinaires</a>
            </li>
            <li class="nav-item">  
                <a routerLink='/formation/certification' class="nav-link" >Certifications</a>
            </li>
            <li class="nav-item">
                <form class="d-flex" role="search">
            <input class="form-control me-2 search-input" type="search" placeholder="RESEARCH UN COURS" aria-label="Search">
                </form>
            </li>
            <li class="nav-item">
                <a href="#trainers" class="nav-link" >Entreprises</a>
            </li>
    
            <li class="nav-item" style="padding-left: 30px;">
                <a routerLink="/usersPages/login" class="btn btn-warning" >Se connecter</a>
            </li>
        </ul>
    </nav>






<div class='container'>
<div class="row">
  <div class="col-sm-9 mb-9 mb-sm-0">
    <div class="card" style='border:none; '>
      <div class="card-body">
        
        <h2><p class='col-md-12' style='background-color:rgb(2, 51, 104);color:white'> {{filtredCertificat[0].titre}}</p></h2>
        <span><i class="bi bi-list" ></i><span style='padding-left:5px'>Parcours</span></span> <span ><i class="bi bi-clock" style='padding-left:20px'></i><span  style='padding-left:5px'>{{filtredCertificat[0].duree}}</span></span>
        <br/> <br/> 
        <h4 class="card-title">Presentation</h4>
        <p style='font-size:85%;'>La gestion des actifs informatiques (IT Asset Management) est un élément important de la stratégie des Directions informatiques. L’ITAM permet de maîtriser les coûts des logiciels, des matériels et des services cloud de l’entreprise. Ce budget ne cessant d’augmenter, il est indispensable pour les entreprises de les gérer avec attention. Ce cours est basé sur les meilleures pratiques de gestion des services informatiques (ITIL4), sur les normes ISO 55 000 et ISO 19 770.</p>
        <h4 class="card-title">Objectifs</h4>
        <br/> 

          <div style='font-size:85%;'>Connaître les domaines clés de l'ITAM ainsi que leurs interactions dans un environnement informatique dynamique</div>
          <div style='font-size:85%;'>Connaître les domaines clés de l'ITAM ainsi que leurs interactions dans un environnement informatique dynamique</div>
          <div style='font-size:85%;'>Connaître les domaines clés de l'ITAM ainsi que leurs interactions dans un environnement informatique dynamique</div>
         
          <br/> <br/> 
        <h4 class="card-title">Contenu</h4>
        <div *ngFor='let chapitre of filtredCertificatChapitre '>
          <hr>
          <div >
            <button style='border:none' (click)="onSelectAfficherChapitre(chapitre.id)">
              Chapitre {{chapitre.id}} -- {{chapitre.titre}}
              <span *ngIf="openCoursId === chapitre.id"></span>
              <span *ngIf="openCoursId !== chapitre.id"></span>
            </button>
            <br/>
            <div style='text-align:left'>         
              <div *ngIf="openCoursId === chapitre.id">
                  <div *ngFor='let x of filteredCertificatsArticle'  >
                    <button *ngIf="chapitre.id===x.idChapitre" (click)='onSelectCertificat(chapitre.id)' style='border:none'><i class="bi bi-file-earmark-plus-fill" style='color:#3e576e;'></i><span style='padding:5px;font-size:90%;'>Article | {{x.titreArticle}}</span></button>
                  </div>
              </div>
                      
              <div *ngIf="openCoursId === chapitre.id">
                <div *ngFor='let x of filteredCertificatsVideo'>
                  <button *ngIf="chapitre.id===x.idChapitre" (click)='onSelectCertificat(chapitre.id)' style='border:none'><i class="bi bi-camera-video-fill" style='color:#3e576e;'></i> <span style='padding:5px;font-size:90%;'>Video | {{x.titreVideo}}</span></button>
                </div>
              </div>
              <div *ngIf="openCoursId === chapitre.id">
                 <div *ngFor='let x of filteredCertificatPosdcast'>
                  <button *ngIf="chapitre.id===x.idChapitre" (click)='onSelectCertificat(chapitre.id)' style='border:none'><i class="bi bi-play-fill"  style='color:#3e576e;'></i><span style='padding:5px;font-size:90%;'>Posdcast | {{x.titrePodcast}}</span></button>
                </div>
              </div>
              <div *ngIf="openCoursId === chapitre.id">
                <div *ngFor='let x of filteredCertificatPosdcast'>
                  <button *ngIf="chapitre.id===x.idChapitre" style='border:none'><i class="bi bi-clock-fill"  style='color:#3e576e;'></i><span style='padding:5px;font-size:90%;'>Evaluation</span></button>
              </div>   
            </div>

            </div>
                           
          </div>
          
        </div>
        <br/><hr>
       <button class='disabled' aria-disabled="true" style='border:none;'><i class="bi bi-file-earmark-lock" ></i>Quiz final</button>
        <hr/>
       <br/><br/>

       <h4 class="card-title"> Les prerequis</h4>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card" style='border:none;'>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>
</div>
</body>



