<div class="container">
  <h1>Modifier la formation</h1>
  <form [formGroup]="formationForm" (ngSubmit)="updateFormation()">
    <div class="mb-3">
      <label for="titre" class="form-label">Titre</label>
      <input type="text" ngModel="" id="titre" class="form-control" formControlName="titre" required>
      <div *ngIf="formationForm.get('titre')?.invalid && formationForm.get('titre')?.touched" class="text-danger">
        Titre requis.
      </div>
    </div>

    <div class="mb-3">
      <label for="type" class="form-label">Type</label>
      <input type="text" id="type" class="form-control" formControlName="type" required>
      <div *ngIf="formationForm.get('type')?.invalid && formationForm.get('type')?.touched" class="text-danger">
        Type requis.
      </div>
    </div>

    <div class="mb-3">
      <label for="domainesEligibles" class="form-label">Domaines éligibles</label>
      <input type="text" id="domainesEligibles" class="form-control" formControlName="domainesEligibles" required>
      <div *ngIf="formationForm.get('domainesEligibles')?.invalid && formationForm.get('domainesEligibles')?.touched" class="text-danger">
        Domaines éligibles requis.
      </div>
    </div>

    <div class="mb-3">
      <label for="niveauRequis" class="form-label">Niveau requis</label>
      <input type="text" id="niveauRequis" class="form-control" formControlName="niveauRequis" required>
      <div *ngIf="formationForm.get('niveauRequis')?.invalid && formationForm.get('niveauRequis')?.touched" class="text-danger">
        Niveau requis requis.
      </div>
    </div>

    <div class="mb-3">
      <label for="prix" class="form-label">Prix</label>
      <input type="number" id="prix" class="form-control" formControlName="prix" required>
      <div *ngIf="formationForm.get('prix')?.invalid && formationForm.get('prix')?.touched" class="text-danger">
        Prix requis et doit être positif.
      </div>
    </div>

    <div class="mb-3">
      <label for="duree" class="form-label">Durée</label>
      <input type="text" id="duree" class="form-control" formControlName="duree" required>
      <div *ngIf="formationForm.get('duree')?.invalid && formationForm.get('duree')?.touched" class="text-danger">
        Durée requise.
      </div>
    </div>

    <div class="mb-3">
      <label for="nombrePlaces" class="form-label">Nombre de places</label>
      <input type="number" id="nombrePlaces" class="form-control" formControlName="nombrePlaces" required>
      <div *ngIf="formationForm.get('nombrePlaces')?.invalid && formationForm.get('nombrePlaces')?.touched" class="text-danger">
        Nombre de places requis et doit être au moins 1.
      </div>
    </div>

    <div class="mb-3">
      <label for="localisation" class="form-label">Localisation</label>
      <input type="text" id="localisation" class="form-control" formControlName="localisation" required>
      <div *ngIf="formationForm.get('localisation')?.invalid && formationForm.get('localisation')?.touched" class="text-danger">
        Localisation requise.
      </div>
    </div>

    <div class="mb-3">
      <label for="resume" class="form-label">Résumé</label>
      <textarea id="resume" class="form-control" formControlName="resume" required></textarea>
      <div *ngIf="formationForm.get('resume')?.invalid && formationForm.get('resume')?.touched" class="text-danger">
        Résumé requis.
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" class="form-control" formControlName="description" required></textarea>
      <div *ngIf="formationForm.get('description')?.invalid && formationForm.get('description')?.touched" class="text-danger">
        Description requise.
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formationForm.invalid">Modifier la formation</button>
  </form>
</div>
