<tr *ngFor="let encadrant of encadrants; let i = index">
    <td>{{ i + 1 }}</td> <!-- Index de l'étudiant dans la liste -->
    <td>{{ encadrant.nom }} {{ encadrant.prenom }}</td>
    <td>{{ encadrant.specialite }}</td>
    <td>{{ encadrant.niveau_etudes }}</td>
    <td>{{ encadrant.email }}</td>
    <td>{{ encadrant.telephone }}</td>
    <td>{{ encadrant.statut }}</td>
    <td>
      <div class="d-flex">
          <a class="btn btn-warning btn-sm mx-2">Modifier</a>
          <button class="btn btn-danger btn-sm">Supprimer</button>
      </div>
    </td>
  </tr>