<tr *ngFor="let etudiant of etudiants; let i = index">
    <!-- <tr *ngFor="let etudiant of cohort; let i = index"> -->
      <td>{{ i + 1 }}</td> <!-- Index de l'étudiant dans la liste -->
      <td>{{ etudiant.nom }} {{ etudiant.prenom }}</td>
      <td>{{ etudiant.ecole }}</td>
      <td>{{ etudiant.filiere }}</td>
      <td>{{ etudiant.email }}</td>
      <td>{{ etudiant.telephone }}</td>
      <td>
        <div class="d-flex">
            <a class="btn btn-warning btn-sm mx-2">Modifier</a>
            <button class="btn btn-danger btn-sm">Supprimer</button>
        </div>
      </td>
    </tr>