<body>


  <div  class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><b>programme talent</b> programme(s)</h2>
                    </div>
                    <div class="col-sm-6">
                        <a  class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span></span></a>
                        <a   class="btn btn-primary" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span></span></a>
                        <a  class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span></span></a>  						
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <br>
  
  
  <div class="container-fluid">
      <div class="row">
        <!-- Sidebar gauche -->
        <nav class="col-2 bg-light text-black  d-flex flex-column">
          <h2 class="text-center my-4">Manager Dashbord</h2>
          <ul class="nav flex-column">
            
            <li class="nav-item btn text-start">
              <a class="nav-link text-black">Formations</a>
            </li>
            <!-- <li class="nav-item btn text-start">
              <a class="nav-link text-white" (click)="onShowWebinaire()">Webinaire</a>
            </li> -->
          </ul>
        </nav>
    
        <!-- Conteneur principal -->
        <main class="col-10">
          <!-- Titre en haut -->
          <div class="bg-light p-3 border-bottom">
              <div class="row d-flex align-items-center justify-content-between">
                  <div class="col">
                      <h1 class="text-left">Manager</h1>
                  </div>
                  <div class="col-auto">
                      <button type="button" class="btn btn-secondary btn-lg"  routerLink="/gestionnaire/ajouter-formation">Ajouter une formation</button>
                  </div>
              </div>
            </div>
          
            <div class='container-l mb-3' *ngFor="let formation of formations; let i = index">  
              <button (click)='onSelectProgrammeTalent(formation.id)'  class='btn-custom taille' style="padding: 20px;">
                <div class="row">
                  <h1><b>{{ formation.titre }}</b></h1>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <table class="table">
                      <tr>
                        <td>Type :</td>
                        <td>{{ formation.type }}</td>
                      </tr>
                      <!-- <tr>
                        <td>Domaines éligibles :</td>
                        <td>#</td>
                      </tr> -->
                      <tr>
                        <td>Niveau requis :</td>
                        <td>{{ formation.niveau }}</td>
                      </tr>
                      <tr>
                        <td>Prix :</td>
                        <td>{{ formation.prix }} euros</td>
                      </tr>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <table class="table">
                      <tr>
                        <td>Durée :</td>
                        <td>{{ formation.duree }}</td>
                      </tr>
                      <tr>
                        <td>Nombre de places :</td>
                        <td>{{ formation.nombre }}</td>
                      </tr>
                      <tr>
                        <td>Localisation :</td>
                        <td>{{ formation.location }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
            
                <div class="row">
                  <p><b>Resumé de la formation: </b>{{ formation.resume }} </p>
                </div>
          
            
                <div class="row">
                  <p>
                    <i class="bi bi-star-fill" style="color: rgb(99, 104, 3);"></i>
                    <i class="bi bi-star-half" style="color: rgb(99, 104, 3);"></i>
                    <i class="bi bi-star" style="color: rgb(99, 104, 3);"></i>
                  </p>
                </div>
                
                <!--<div class="row">
                  <div class="text-end">
                    <button class="btn btn-outline-secondary" style="color: red;" [routerLink]="['/gestionnaire/formation-detail', formation.id]">Afficher les détails</button>
                    <button class="btn btn-warning mx-2" [routerLink]="['/gestionnaire/modification-formation', formation.id]">Modifier</button>
                    <button class="btn btn-danger" (click)="deleteFormation(formation.id)">Supprimer</button>
                  </div>
                </div>  
              -->
                <br/>
              </button>
            </div>
            
            

        </main>
      </div>
  
      
    </div>
    <app-footer/>
        
  </body>


