
<table class="table table-striped">
    <tr *ngFor="let seance of seances" style="border: 2px solid black;">
        <td style="width: 20%;">{{ seance.lieu }}</td>
        <td style="width: 20%;">{{ seance.formateurs.join(', ') }}</td>
        <td style="width: 15%;">{{ seance.date }}</td>
        <td style="width: 15%;">{{ seance.heure }}</td> 
        <td style="width: 10%;"><i [ngClass]="{
            'badge-confirmed': seance.statut === 'Confirmé',
            'badge-pending': seance.statut === 'En attente',
            'badge-cancelled': seance.statut === 'Annulé'
        }">{{ seance.statut }}</i>
        </td>
        <td style="width: 20%;">
            <div class="d-flex">
                <a class="btn btn-warning btn-sm mx-2">Modifier</a>
                <button class="btn btn-danger btn-sm">Supprimer</button>
            </div>
        </td>
    </tr>
    <!-- <tr>
        <td colspan="4" style="width: 100%;">
            
        </td>
    </tr> -->
</table>