

    
           
    
    
    

    
    
    
  <body>
    
    <!-- Entête principale -->

            <nav class="navbar-light navbar-fixed-top bg-light  py-4">

                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <img src="assets/icon.png" alt="FuturAlliés Logo" routerLink='/acceuil' class="logo" height="50">
                     </li>
                  <li class="nav-item">
                    <a routerLink='/formation/acceuilFormation' class="nav-link Activate" >Domaine</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink='/formation/FormationPresentielle' class="nav-link" >Formation en presentiel</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink='/formation/certification' class="nav-link" >Certificat</a>
                  </li>
                  <li class="nav-item">
                    <form class="d-flex" role="search">
                      <input class="form-control me-2 search-input" type="search" placeholder="RESEARCH UN COURS" aria-label="Search">
                    </form>
                  </li>
                  <li class="nav-item">
                    <a href="#trainers" class="nav-link" >Entreprises</a>
                  </li>

                  <li class="nav-item" style="padding-left: 30px;">
                    <a routerLink="/usersPages/login" class="btn btn-warning" >Se connecter</a>
                  </li>
                </ul>
              </nav>

<div class='container py-5' style='padding-left:150px'>
<div class="row">
  <div class="col-sm-10 mb-10 mb-sm-0">
    <div class="card" style='border:none; '>
      <div class="card-body">
          <br/> <br/> 
        <span style='border:none; font-size:140%;paddig-left:80px; display:inline-flex;' *ngFor='let cour of coursFiltres '>
          <button (click)="onSelectPage(cour.id)" class='btn btn-outline-secondary' style='border:none;padding:30px;'>
            {{cour.nom_cours}}
          </button>
  
           
   
            <br/><br/>
                  
        </span>
      </div>
    </div>
  </div>
</div>
</div>








<footer>
  <div class="footer-bottom" style='text-align: center'>
      <p>&copy; 2024 FuturAlliés. Tous droits réservés.</p>
  </div>
</footer>

</body>