
<app-headerPrincipale></app-headerPrincipale>
<div class='container-l mb-3' *ngFor="let formation of formations; let i = index">  
    <button class='btn-custom taille' style="padding: 20px;">
      <div class="row">
        <h1><b>{{ formation.titre }}</b></h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <table class="table">
            <tr>
              <td>Type :</td>
              <td>{{ formation.type }}</td>
            </tr>
            <!-- <tr>
              <td>Domaines éligibles :</td>
              <td>#</td>
            </tr> -->
            <tr>
              <td>Niveau requis :</td>
              <td>{{ formation.niveau }}</td>
            </tr>
            <tr>
              <td>Prix :</td>
              <td>{{ formation.prix }} euros</td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table">
            <tr>
              <td>Durée :</td>
              <td>{{ formation.duree }}</td>
            </tr>
            <tr>
              <td>Nombre de places :</td>
              <td>{{ formation.nombre }}</td>
            </tr>
            <tr>
              <td>Localisation :</td>
              <td>{{ formation.location }}</td>
            </tr>
          </table>
        </div>
      </div>
  
      <div class="row">
        <p><b>Resumé de la formation: </b>{{ formation.resume }} </p>
      </div>

  
      <div class="row">
        <p>
          <i class="bi bi-star-fill" style="color: rgb(99, 104, 3);"></i>
          <i class="bi bi-star-half" style="color: rgb(99, 104, 3);"></i>
          <i class="bi bi-star" style="color: rgb(99, 104, 3);"></i>
        </p>
      </div>
      
      <div class="row" *ngIf="shutDetail">
        <div class="text-end" >
            <button class="btn btn-outline-secondary" style="color: red;" (click)="onSelectFormationDetail(formation.id)" >Voir les details</button>  
        </div>
    </div>

    <div class="text-end d-flex " *ngIf="showDetail">
        <div class="mx-2">
            <button class="btn btn-outline-danger" (click)="onShowDetail()">Réduire</button>
        </div>
        <div class="" >
            <button class="btn btn-outline-secondary" style="color: red;" (click)="onShowDetail()" routerLink="/formation/etudiantPage">S'inscrire</button>  
        </div>
    </div>

  
      <br/>
    </button>
  </div>
  